body {
  font-family: 'Roboto Condensed', 'garamond';
  padding:0;
  margin:0;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.logo{
  height: 70px;
  padding-top: 5px;
  padding-bottom: 4px;
}

.imgCard{
  height: 242.63px;
  width: 400.88px;
}

#fullDiv{
  height:100vh;
  width:100vw;
  background-color: #756868;
  background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
}

.venNews {
  padding-top: 7px;
  padding-left: 5px;
  color: blanchedalmond;
  font-weight: 600;
}

#navLi{
  color: blanchedalmond;
  font-size: 17px;
  padding-top: 8px;
}

#loginTitle {
  color: blanchedalmond;
  padding-left: 123px;
  padding-top: 2px;
  font-size: 20px;
  font-weight: 500;
}

.handle{
  padding-left: 1000px;
}
.sideHold{
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 12px;
  padding-left:12px;
  border-radius:15px;
  background-color: #7d1a2b;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  margin-left: 75px;
  margin-top: 50px;
}

nav{
  background-color: #7d1a2b;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  height: 9vh;
}

.fixed{
  position: fixed;
}

p{
  margin:0;
}

.listItemPic{
  display:block;
  margin: auto;
  height: 4em;
  padding-top: 5px;
}

.listItemName{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.dropSpaceTop{
  height : 5vh;
}

.dropSpace{
  height : 5vh;
}

button {
  width: 13vw;  
}

li {
  text-align: center;
}

.bodColor {
  background-color: #756868;
  background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
  margin: 0;
}

.footer{
  height:5vh;
  position: fixed;
}

#loginPage {
  background-color: #756868;
  background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
}

.sideColor{
  background-color: blue;
}

#borderLi {
  border-color: black;
  border-width: 10px;
}

.footRow {
  margin: 0;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
  padding-top: 30px;
}

.login-form-container {
  display: table;
   position: absolute;
   height: 75%;
   width: 100%;
}
.cCont {
  display: table-cell;
   vertical-align: middle;
}

.cCard {
  min-height: 500px;
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.cHead{
  height: 80px;
  line-height: 80px;
  background-color: #7d1a2b;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
}
.cHead p {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
}

.ccCont{
  margin-top: 10px;
}
.ccCont label {
  font-size: 18px;
  color:#333;
}
.card-footer {
  margin-top: 20px;
}
.card-footer label {
  font-size: 14px !important;
  cursor: pointer;
}

